SARVAM_API_KEY=your_sarvam_api_key_here
AI_PROVIDER=sarvam
SARVAM_CHAT_MODEL=sarvam-30b
OLLAMA_MODEL=llama3:latest
SARVAM_TTS_MODEL=bulbul:v3
SARVAM_STT_MODEL=saaras:v3
SARVAM_LANGUAGE=en-IN
SARVAM_SPEAKER=shubh
